.git
.github
.gitignore
.DS_Store

.env
.env.*
!.env.example
*.pem
*.key
*.crt
*.p12
*.pfx

__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

.venv/
venv/
env/

db.sqlite3
*.sqlite3
reports/
docs/
postman/
loadtest/
infra/
deploy/
docker/
scripts/

docs/report_latex/*.aux
docs/report_latex/*.blg
docs/report_latex/*.fdb_latexmk
docs/report_latex/*.fls
docs/report_latex/*.log
docs/report_latex/*.lof
docs/report_latex/*.out
docs/report_latex/*.toc
