[tool.black]
line-length = 100
target-version = ["py311"]
skip-string-normalization = true

[tool.ruff]
target-version = "py311"
line-length = 100
extend-exclude = [
  "migrations",
  "reports",
]

[tool.ruff.lint]
select = ["E", "F", "I", "B", "UP"]
